NEXT_PUBLIC_SUPABASE_URL=https://axonpullcjkchageopfa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_-5h7IX_dQ0cfGb3Xr01c_w_QLQ8NxFR
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_ENV=development
